* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.img {
  height: 15vmin;
  margin: 10px;
}

.right {
  position: absolute;
  right: 10px;
  
}

form > div > span:first-child {
  display: inline-block;
  width: 10ch;
  text-align: right;
  padding: 0 1ch;
}

input[type='text'],
input[type='tel'],
input[type='email'],
input[type='password']
{
  width: 400px;
  font-size: 1.1rem;
  padding: 0.4rem;
  margin: 0.4rem;
}

input[type='search'],
input[type='chatting']
{
  width: 200px;
  font-size: 1.1rem;
  padding: 0.4rem;
  margin: 0.4rem;
}

.btn {
  font-size: 1.1rem;
  padding: 0.4rem;
  margin: 0.4rem;
  
}

.title {
  text-align: center;
}

.container {
  display: flex;
}

.chat {
  border: 3px solid black;
  margin: 10px 50px 10px 10px;
  text-align: center;
  line-height: 40px;
}

.my-chat {
  border: 3px solid blue;
  margin: 10px 10px 10px 50px;
  text-align: center;
  line-height: 40px;
}

.chatBox {
  background-color: pink;
}

.user-list {

  background-color: skyblue;
}

.user {
  border: 3px solid black;
  margin: 10px 20px;
  text-align: center;
  line-height: 40px;
}
