body{font-family:Open Sans; color:#555555;}
 h1{font-size:30px; font-weight:bold; margin:10px 20px 20px 20px;} */

.container { width: 100%; margin: 0 auto; }
.container .row { float: left; clear: both; width: 100%; }
.container .col { float: left; margin: 0 0 1.2em; padding-right: 1.2em; padding-left: 1.2em; }
.container .col.three { width: 100%; }


/* @media screen and (min-width: 767px) {
  .container{width: 100%; max-width: 1080px; margin: 0 auto;}
  .container .row{width:50%; float:left; clear:both;}
  .container .col{float: left; margin: 0 0 1em; padding-right: .5em; padding-left: .5em;}
  .container .col.three { width: 24.99%; }
} */

/*All the button styles*/

* {-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
a{text-decoration:none;}

/********************
GENERIC BUTTON STYLES
********************/
.btn-login {font-size: 20px; white-space:nowrap; width:25%; margin: 20px 15px 15px 0px; padding:.5em 0em; font-family: Open Sans, Helvetica,Arial,sans-serif; line-height:18px; display: inline-block;zoom: 1; color: black; text-align: center; position:relative; -webkit-transition: border .25s linear, color .25s linear, background-color .25s linear; transition: border .25s linear, color .25s linear, background-color .25s linear;}

/*SEA GREEN BUTTON STYLES*/		
.btn-login.btn-sea{background-color: #f5f5f5; border-color: #f5f5f5; -webkit-box-shadow: 0 3px 0 #e0e0e0; box-shadow: 0 3px 0 #e0e0e0;}
.btn-login.btn-sea:hover{background-color:#e0e0e0;}
.btn-login.btn-sea:active{ top: 3px; outline: none; -webkit-box-shadow: none; box-shadow: none;}

.form-div {
  padding:30px;
  width: 450px;
  left: 50%;
  position: absolute;
  margin-top:0px;
  margin-left: -220px;
}

body {
  margin: 0;
  padding: 0;
  background: #dae9df;
}

.container {
  width: 100px;
  height: 50px;
  padding-top: 100px;
  margin: 0 auto;
}
/* 구체 왔다 갔다. (+ 색깔 변경) */
/* .ball {
  width: 35px;
  height: 35px;
  font-size: 30px;
  margin: 8px auto;
  border-radius: 7px;
}

.ball:nth-child(1) {
  background: #d9e2f1;
  -webkit-animation: right 1.2s infinite ease-in-out;
  -moz-animation: right 1.2s infinite ease-in-out;
  animation: right 1.2s infinite ease-in-out, pulse1 5s ease infinite alternate;
}

.ball:nth-child(2) {
  background: #d9e2f1;
  -webkit-animation: left 1.25s infinite ease-in-out;
  -moz-animation: left 1.25s infinite ease-in-out;
  animation: left 1.25s infinite ease-in-out, pulse2 5s ease infinite alternate;
}

.ball:nth-child(3) {
  background: #d9e2f1;
  -webkit-animation: right 1.15s infinite ease-in-out;
  -moz-animation: right 1.15s infinite ease-in-out;
  animation: right 1.15s infinite ease-in-out, pulse3 5s ease infinite alternate;
}

.ball:nth-child(4) {
  background: #d9e2f1;
  -webkit-animation: left 1.25s infinite ease-in-out;
  -moz-animation: left 1.25s infinite ease-in-out;
  animation: left 1.25s infinite ease-in-out, pulse4 5s ease infinite alternate;
} */

.circling1 {
  width: 45px;
  height: 45px;
  font-size: 35px;
  background: red;
  border-radius: 7px;
  position: relative;
  animation: mymove 11s infinite;
}
.circling2 {
  width: 45px;
  height: 45px;
  font-size: 35px;
  background: red;
  border-radius: 7px;
  position: relative;
  animation: mymove 12s infinite;
}
.circling3 {
  width: 45px;
  height: 45px;
  font-size: 35px;
  background: red;
  border-radius: 7px;
  position: relative;
  animation: mymove 13s infinite;
}
.circling4 {
  width: 45px;
  height: 45px;
  font-size: 35px;
  background: red;
  border-radius: 7px;
  position: relative;
  animation: mymove 14s infinite;
}

@keyframes mymove {
  0% {
    top: 0px;
    left: -120px;
    background: red;
  }
  25% {
    top: 0px;
    left: 600px;
    background: rgb(255, 0, 221);
  }
  50% {
    top: 500px;
    left: 600px;
    background: rgb(17, 0, 255);
  }
  75% {
    top: 500px;
    left: -120px;
    background: rgb(25, 224, 7);
  }
  100% {
    top: 0px;
    left: -120px;
    background: rgb(238, 255, 0);
  }
}

/* @keyframes mymove {
  0% {
    top: -40px;
  }

  25% {
    top: 530px;
  }

  100% {
    top: -40px;
  }
} */

/* @keyframes pulse1 {
  0%,
  100% {
    background-color: #ff0000;
  }
  50% {
    background-color: #ff6600;
  }
}

@keyframes pulse2 {
  0%,
  100% {
    background-color: #ffff00;
  }
  50% {
    background-color: #00ff66;
  }
}

@keyframes pulse3 {
  0%,
  100% {
    background-color: #0062ff;
  }
  50% {
    background-color: #ff00cc;
  }
}

@keyframes pulse4 {
  0%,
  100% {
    background-color: #cc00ff;
  }
  50% {
    background-color: #9900ff;
  }
}
@keyframes right {
  0% {
    transform: translate(-25px);
  }
  50% {
    transform: translate(25px);
  }
  100% {
    transform: translate(-25px);
  }
}

@keyframes left {
  0% {
    transform: translate(25px);
  }
  50% {
    transform: translate(-25px);
  }
  100% {
    transform: translate(25px);
  }
} */
