.home {
  /* padding: 30px; */
  /* margin-top: 10rem; */
  /* background: url(../play.png); */
}

/* .img__play {
  background: url(../play.png);
} */

/* container-large {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
  padding-top: 40px;
  padding-bottom: 40px;
} */
