.navbar {
  padding: 0px;
  margin-left: 50px;
  margin-top: 0px;
  height: 60px;
  width: 100%;
  position: relative;
  margin-bottom: 1rem;
}

@media (max-width: 700px) {
  li.homebuttonafterlogin {
    display: none;
  }
}

@media (max-width: 650px) {
  li.roomcreatebutton {
    display: none;
  }
}

@media (max-width: 610px) {
  li.mypagebutton {
    display: none;
  }
  li.homebuttonbeforelogin {
    display: none;
  }
}

@media (max-width: 550px) {
  li.loginbutton {
    display: none;
  }
}
.navbuttoncolor:visited {
  color: #eeeeee;
}

div.logo {
  background: url(../logo.png);
  height: 40px;
  width: 130px;
  position: absolute;
  left: 0px;
  top: 8px;
  cursor: pointer;
}

ul {
  display: flex;
  justify-content: center;
  float: inline-end;
  list-style: none;
  padding: 3px;
  position: relative;
}

li {
  margin-left: 1rem;
  align-items: center;
  list-style: none;
  margin: 10px;
}

/*로그인 전 버튼 */

li.homebuttonbeforelogin {
  position: absolute;
  right: 19rem;
  top: 6px;
}

/*SEA GREEN BUTTON STYLES*/
li.loginbutton {
  background-color: #fe918d;
  border-color: #f5f5f5;
  -webkit-box-shadow: 0 3px 0 #e0e0e0;
  box-shadow: 0 3px 0 #e0e0e0;
  width: 4rem;
  height: 27px;
  text-align: center;
  border-radius: 3px;
  position: absolute;
  right: 14rem;
  top: 6px;
  padding-top: 5px;
}
li.loginbutton:hover {
  background-color: #236896;
}
li.loginbutton:active {
  top: 3px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/*SEA GREEN BUTTON STYLES*/
li.signupbutton {
  background-color: #fe918d;
  /* background-color: #d1d1d1; */
  border-color: #f5f5f5;
  -webkit-box-shadow: 0 3px 0 #e0e0e0;
  box-shadow: 0 3px 0 #e0e0e0;
  width: 4rem;
  height: 27px;
  text-align: center;
  border-radius: 3px;
  position: absolute;
  right: 9rem;
  top: 6px;
  padding-top: 5px;
}
li.signupbutton:hover {
  background-color: #236896;
}
li.signupbutton:active {
  top: 3px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* 로그인 후 버튼 */

li.homebuttonafterlogin {
  position: absolute;
  right: 23rem;
  top: 6px;
}

li.roomcreatebutton {
  background-color: #fe918d;
  position: absolute;
  right: 19rem;
  top: 6px;
  padding-top: 6px;
  height: 27px;
  width: 4rem;
  text-align: center;
  -webkit-box-shadow: 0 3px 0 #e0e0e0;
  box-shadow: 0 3px 0 #e0e0e0;
}

li.roomcreatebutton:hover {
  background-color: #236896;
}

li.mypagebutton {
  background-color: #fe918d;
  /* border-color: #f5f5f5; */
  -webkit-box-shadow: 0 3px 0 #e0e0e0;
  box-shadow: 0 3px 0 #e0e0e0;
  width: 4rem;
  height: 27px;
  text-align: center;
  border-radius: 3px;
  position: absolute;
  right: 14rem;
  top: 6px;
  padding-top: 5px;
}
li.mypagebutton:hover {
  background-color: #236896;
}
li.mypagebutton:active {
  top: 3px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

li.logoutbutton {
  background-color: #fe918d;
  /* background-color: #d1d1d1; */
  border-color: #f5f5f5;
  -webkit-box-shadow: 0 3px 0 #e0e0e0;
  box-shadow: 0 3px 0 #e0e0e0;
  width: 4rem;
  height: 27px;
  text-align: center;
  border-radius: 3px;
  position: absolute;
  right: 9rem;
  top: 6px;
  padding-top: 5px;
}

li.logoutbutton:hover {
  background-color: #236896;
}

li.logoutbutton:active {
  top: 3px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
