.navbar {
  padding: 0px;

  margin-top: 0px;
  height: 60px;
  width: 100%;
  position: relative;
  border-bottom: solid 1px;
}

div.logo {
  background: url(../logo.png);
  height: 40px;
  width: 130px;
  position: relative;
  left: -140px;
  top: 8px;
}

ul {
  display: flex;
  justify-content: center;
  float: inline-end;
  list-style: none;
  padding: 3px;
  position: relative;
  left: -30px;
}

li {
  margin-left: 1rem;
  align-items: center;
  list-style: none;
  margin: 10px;
}

li.homebuttonafterlogin {
  background-color: black;
  position: relative;
  left: 11rem;
  top: 6px;
}

li.roomcreatebutton {
  background-color: black;
  position: relative;
  left: 11rem;
  top: 6px;
}

li.mypagebutton {
  background-color: black;
  position: relative;
  left: 11rem;
  top: 6px;
}

li.logoutbutton {
  background-color: black;
  position: relative;
  left: 11rem;
  top: 6px;
}

li.homebuttonbeforelogin {
  background-color: black;
  position: relative;
  left: 12rem;
  top: 6px;
}

li.loginbutton {
  background-color: black;
  position: relative;
  left: 12rem;
  top: 6px;
}

li.signupbutton {
  background-color: black;
  position: relative;
  left: 12rem;
  top: 6px;
}
