h3 {
  font-size: 30px;
  font-weight: bold;
  margin: 10px 20px 20px 20px;
}

*/ .container {
  width: 100%;
  margin: 0 auto;
}
.container .row {
  float: left;
  clear: both;
  width: 100%;
}
.container .col {
  float: left;
  margin: 0 0 1.2em;
  padding-right: 1.2em;
  padding-left: 1.2em;
}
.container .col.three {
  width: 100%;
}

/* @media screen and (min-width: 767px) {
  .container{width: 100%; max-width: 1080px; margin: 0 auto;}
  .container .row{width:50%; float:left; clear:both;}
  .container .col{float: left; margin: 0 0 1em; padding-right: .5em; padding-left: .5em;}
  .container .col.three { width: 24.99%; }
} */

/*All the button styles*/

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

/********************
GENERIC BUTTON STYLES
********************/
.btn {
  font-size: 20px;
  white-space: nowrap;
  width: 15%;
  margin-top: 20px;
  padding: 0.5em 0em;
  font-family: Open Sans, Helvetica, Arial, sans-serif;
  line-height: 18px;
  display: inline-block;
  zoom: 1;
  color: black;
  text-align: center;
  position: relative;
  -webkit-transition: border 0.25s linear, color 0.25s linear,
    background-color 0.25s linear;
  transition: border 0.25s linear, color 0.25s linear,
    background-color 0.25s linear;
}

.btn.btn-sea:hover {
  background-color: #e0e0e0;
}
.btn.btn-sea:active {
  top: 3px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.form-div {
  padding: 30px;
  width: 450px;
  left: 50%;
  position: absolute;
  margin-top: 0px;
  margin-left: -220px;
}

.email-index {
  margin-bottom: 3rem;
}

.input-make {
  border: none;
  border-radius: 50px;
  outline: none;
  width: 100%;
  background-color: wheat;
  padding: 13px;
  font-size: 20px;
}

.password-index {
  margin-bottom: 3rem;
}
.name-index {
  margin-bottom: 3rem;
}
.phone-index {
  margin-bottom: 2rem;
}

.background__img {
  background: url(../paper.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
}

.background__size {
  height: 350px;
}

.sign__container {
  padding-top: 250px;
}
