.btn {
  font-size: 1.1rem;
  padding: 0.4rem;
  margin: 0.4rem;
  
}

.title {
  text-align: center;
}

.img {
  height: 15vmin;
  margin: 10px;
}

input[type='text'],
input[type='tel'],
input[type='email'],
input[type='password']
{
  width: 400px;
  font-size: 1.1rem;
  padding: 0.4rem;
  margin: 0.4rem;
}

form > div > span:first-child {
  display: inline-block;
  width: 10ch;
  text-align: right;
  padding: 0 1ch;
}